@import "../../@theme/theme.scss";

button {
  padding: 8px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: $base-rubro-color;
  color: #fff;
  transition: all ease-in-out 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    filter: brightness(1.2);
    opacity: (0.8);
  }

  mat-icon {
    margin-right: 8px;
  }
}
