@import "../../@theme/theme.scss";

button {
  padding: 8px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: $base-rubro-color;
  color: #fff;
  transition: ease-in-out 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $base-rubro-hover-color;
  }
}
