/** Main colors */
$base-rubro-color: #e63946;
$bg-light-color: #fafafd;
$text-light-color: #fafafd;
$text-dark-color: #fafafd;

/** gradients */
$header-gd-color: linear-gradient(90deg, rgba(241,100,111,1) 0%, rgba(238,48,97,1) 50%, rgba(247,49,220,1) 100%); 
$text-gd-color: linear-gradient(90deg, rgba(255,185,190,1) 0%, rgba(138,117,244,1) 50%, rgba(255,63,229,1) 100%);
