div.container {
  display: flex;
  position: relative;

  main {
    width: 60%;
    border: 1px solid green;
    padding: 24px;

    section {
    }
  }

  aside {
    width: 40%;
    height: calc(100vh - 42px - 32px);
    padding: 24px;
    position: fixed;
    right: 0;

    section {
      background-color: #fff;
      height: 100%;
      width: 100%;
      border-radius: 6px;
      padding: 24px;
      h3 {
        margin-bottom: 16px;
      }
    }
  }
}
