<div class="container">
  <main>
    <section>
      <section class="brand">
        <div class="brand-content">
          <div class="image" style="background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/17/20/f1/2c/photo0jpg.jpg');"></div>
          <diV class="score"><mat-icon>star_outline</mat-icon> 5.0</diV>
          <div class="info">
            <h3>Restaurant name</h3>
            <span>A bread bakery tem quarenta anos de mercado...</span>
          </div>
          <div class="category">
            <p>Padaria</p>
          </div>
          <div class="opening-hours">
            <p>Funciona de segunda a sexta, das 8h as 23h</p>
          </div>
        </div>
      </section>
      <com-tab-navigation></com-tab-navigation>
    </section>
  </main>
  <aside>
    <lov-cart></lov-cart>
  </aside>
</div>
