div.card {
  width: 320px;
  min-height: 30px;
  background-color: #eeeded;

  img.image {
    width: 100%;
    min-height: 20px;
  }

  div.content {
    padding: 12px;
    display: flex;
    flex-direction: column;

    h3.title {
      font-size: 24px;
    }

    p.description {
      font-size: 20px;
    }

    div.actions {
      display: flex;
      justify-content: flex-end;
      padding: 6px;

      button {
        margin-right: 12px;
      }
    }
  }
}
