<main>
  <section>
    <header>
      <h1>
        About us
      </h1>
    </header>
    <div class="header-divider"></div>
    
    <article>
      We are a commercial company that acts as a marketplace 
      and we work with the best brands, to deliver quality of 
      service, good suport and swiftness. 
      We work with 
    </article>

    <article>
      we work with a variety of restaurants and many foods and 
      snacks, in addition to it we also work with the logistic 
      of delivery, offering job to thousands of thousands of people 
      around the Brasil. If you are hungry, don't think twice, call us.
    </article>

    <q>- Alexandre O grande</q>
  </section>
</main>