<section class="menu-item">
  <div
    class="image"
    [ngStyle]="{
      'background-image': 'url(' + menuItem.imagePath + ')',
      'background-size': 'cover'
    }"
  ></div>
  <article class="content">
    <p class="price">{{ menuItem.price | currency: "BRL":true }}</p>
    <h3>{{ menuItem.name }}</h3>
    <p class="description">{{ menuItem.description }}</p>
  </article>
  <article class="action">
    <tem-button
      (click)="emitAddEvent()"
      icon="add"
      htmlType="button"
      [size]="2"
      text="ADD TO CART"
    >
    </tem-button>
  </article>
</section>
