section.menu-item {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 16px;

  div.image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: gray;
    margin-right: 25px;
  }

  article.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    h3 {
      font-size: 22px;
      color: #3b3d41;
    }

    p.price {
      color: #e63946;
      font-size: 22px;
    }

    p.description {
      font-size: 18px;
      color: #9fa4af;
    }

    tem-button {
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 0 24px 24px 0;
    }
  }
}
