<div class="cart">
  <!-- Cart title and definitions -->
  <div class="cart-title">
    <mat-icon>shopping_cart</mat-icon>
    <h3>Cart</h3>
  </div>
  <com-divider color="#dedede" borderStyle="solid" [size]="1"></com-divider>

  <!-- Cart content -->
  <div *ngIf="!items().length" class="no-content">
    <img src="./assets/img/empty/empty-cart.png" alt="no data here..." />
    <p>Empty cart</p>
  </div>

  <div *ngIf="items().length" class="content">
    <ul class="items">
      <li class="item" *ngFor="let item of items()">
        <p>{{ item.menuItem.name }} ({{ item.quantity }})x</p>
        <p>{{ item.totalByQuantityItem() | currency: "BRL":true }}</p>
        <a (click)="remove(item)">
          <mat-icon>highlight_off</mat-icon>
        </a>
      </li>
    </ul>
    <div class="total">
      <p>{{ total() | currency: "BRL":true }}</p>
    </div>
  </div>

  <!-- Cart Action buttons -->
  <div class="actions">
    <tem-button
      (click)="clear()"
      [size]="3"
      icon="clear_all"
      text="CLEAR"
    ></tem-button>
    <tem-button [size]="3" icon="local_mall" text="BUY"></tem-button>
  </div>
</div>
